body {
  background-color: lightblue;
}

* {
	text-align: center;
	
}

#test {
	
	padding-top: 100px;
		 background: LightGray;
  width: 300px;
  height: 300px;
 margin: auto;
  outline: 5px solid Gray;
	
}

#title {
	
	font-size: 100px;
	
}

